<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRouting" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49331/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRouting" contract="IRouting"
                name="BasicHttpBinding_IRouting" />
        </client>
    </system.serviceModel>
</configuration>